@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

.roboto-slab {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
}

section {
  padding-top: 56px;
}

.more-weight {
  font-weight: 700;
}


.client-img {
  transition: transform 0.3s ease;
}

.client-img:hover {
  transform: scale(1.1);
  cursor: pointer;
}


/* ***************** Footer *****************/
.footer1 {
  height: 50px;
  background-color: #0f0f49;
  color: #d7d7d7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.webDeveloper {
  transition: background-color 0.3s ease, color 0.3s ease;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  border-radius: 25px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.webDeveloper:hover {
  background-color: rgba(255, 215, 0, 0.75);
  color: black;
}



/* Custom styles for Swiper navigation buttons */
.swiper-container .swiper-button-prev,
.swiper-container .swiper-button-next {
  color: #000000;
  transition: all 0.3s ease;
  position: absolute;
  
}
.swiper-container .swiper-button-prev {
 
  left: -5px; 
}
.swiper-container .swiper-button-next {
  right: 0px;
}
.swiper-container .swiper-button-prev::after,
.swiper-container .swiper-button-next::after {
  font-size: 22px;
  font-weight: 900;
}


.iconlisting-card .d-flex {
  width: 240px;
  max-width: 100%;
  flex: auto;
  padding: 30px 15px;
  position: relative;
  z-index: 1;
  flex-direction: column;
  text-align: center;
  border: solid 1px #DFE5Ef;
}

@media (max-width: 767.98px) {
  .iconlisting-card.d-flex {
    overflow-x: auto !important;
    flex-wrap: nowrap !important;
    justify-content: flex-start !important;
  }

  .iconlisting-card.d-flex li {
    width: 220px;
    max-width: 100%;
    flex: 0 0 220px;
  }
}

/*  css during styling website */
.blueButton{
  background-color: #0f0f49;
  border: 2px solid rgb(19, 78, 154);
  color: #d7d7d7;
}

.blueButton:hover{
  background-color: #59B702;
  border: 2px solid rgb(10, 193, 10);
}

.greenButton{
  background-color: #59B702;
  border: 2px solid rgb(10, 193, 10);
  color: white;
}
.greenButton:hover{
  background-color: #418204;
  border: 2px solid #356c01;
  color: white;
}

.checkmark {
  color: green;
  margin-right: 10px;
}

.imageDesign {
  border-radius: 20px;
  border: 5px solid #0f0f49;
  object-fit: cover;
  object-position: center;
  transition: filter 0.3s ease;
  transform-origin: center;
  filter: brightness(70%);
}

.imageContainer:hover .imageDesign {
  filter: brightness(80%);
}

.borderBottom {
  border-bottom: 5px solid #0f0f49;
  box-shadow: 0 15px 15px -5px rgba(52, 15, 218, 0.3);
}

.heading {
  font-size: 40px;
  font-weight: 700;
}
.bannerHeading{
  font-size: 40px;
  font-weight: 900;
}

 .custom-card {
  transition: box-shadow 0.3s ease;
  box-shadow: 12px 12px 0px rgba(0, 0, 0, 0.75); /* Left and bottom yellow shadow */
}

.custom-card:hover {
  box-shadow: 12px 12px 0px rgba(255, 215, 0, 0.75); /* Left and bottom black shadow on hover */
} 

.cardDesign{
  border: 3px solid #0f0f49;
  border-radius: 10px;
  box-shadow: 10px 10px 0px #0f0f49;
}

.cardDesign:hover{
  box-shadow: 10px 10px 0px #59B702;
}

.iconCardDesign {
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.iconCardDesign::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #a9f3bd;
  transform: translateX(-100%);
  transition: transform 1s ease;
  z-index: -1; 
}

.iconCardDesign:hover::before {
  transform: translateX(0);
}

.iconCardDesign > * {
  position: relative;
  z-index: 1;
}

/* TabStyles.css */
.custom-tabs .nav-item .nav-link {
  border: 1px solid rgb(255, 255, 255) !important; /* Black border around each tab button */
  margin: 5px;
  color: white;
}

.custom-tabs .nav-item .nav-link.active {
  background-color: #59B702 !important; /* Green background for active tab */
  color: white !important; /* Optional: white text color for better contrast */
}