@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

.roboto-slab {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
}

section {
  padding-top: 56px;
}

.more-weight {
  font-weight: 700;
}

/************   Navbar.css *************/


/* .custom-dropdown-menu .dropdown-item {
  font-weight: bold;
  padding: 10px 20px;
} */

/* .custom-dropdown-menu .dropdown-item:hover {
  background-color: #f8f9fa;
} */

/********************   Client section css *********************/

.client-img {
  transition: transform 0.3s ease;
}

.client-img:hover {
  transform: scale(1.1);
  cursor: pointer;
}


/* ***************** Footer *****************/
.footer1 {
  height: 50px;
  background-color: #0f0b41;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
