.navbar {
    background-color: #0f0f49;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-sizing: border-box;
}

.navbar-brand {
    font-weight: 700;
}

#navbarSupportedContent ul li a {
    color: white;
    transition: color 0.3s ease, background-color 0.3s ease;
}

#navbarSupportedContent2 ul li a {
    color: white;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-link {
    font-weight: bold;
    font-size: 20px;
}

.nav-link.active {
    background-color: black;
    color: white !important;
    border-radius: 4px;
}

.nav-link.active,
.nav-link:focus,
.nav-link:hover {
    color: #000;
    background-color: #020331;
    border-radius: 4px;
}

.custom-dropdown-menu {
    background-color: #0f0f49;
    border: 1px solid #ffffff;
    border-radius: 4px;
    width: 300px !important;
    transition: background-color 0.3s ease;
}

.custom-dropdown-menu .dropdown-item {
    color: white;
    padding: 10px 20px;
}

.custom-dropdown-menu .dropdown-item:hover {
    background-color: #020331;
    color: white;
    border-radius: 4px;
}



/* Style for white hamburger icon */
.navbar-toggler {
    border-color: white;
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}